@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    padding:15px 15px 0px 15px;
    width:320px;
    height:500px;
}
main img{
    border-radius: 10px;
    margin-bottom:28px;
}
main h2{
    color:hsl(218, 44%, 22%);
    text-align: center;
    font-family:'Outfit',sans-serif;
    font-weight: 700;
    margin-bottom:20px;
}
main p{
    color: hsl(220, 15%, 55%);
    font-size:1rem;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    text-align: center;
}